@import "_variables";
@import "_maxins";
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
a {
  text-decoration: none;
}

body {
  width: 100%;
  background-color: #f0f0f0;

  nav {
    padding: 0 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: $nav-width;
    box-sizing: border-box;
    h1 {
      font-size: 5vw;
      font-weight: 500;
      color: $red;
      letter-spacing: 2px;
      margin: 70px 0;
      font-family: RingsideExtraWide-Book, Blank, Helvetica Neue, Helvetica,
        sans-serif;
    }
    p {
      color: $red;
      font-size: 24px;
      margin-bottom: 20px;
      font-family: RingsideRegular-Book, Blank, Helvetica Neue, Helvetica,
        sans-serif;
    }
    h4 {
      color: $red;
      font-size: 15px;
      margin-bottom: 20px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 15px;
      li {
        margin: 0 10px 5px 0;
        padding-bottom: 5px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
        font-weight: 500;
        width: max-content;
        text-decoration: none;
        color: black;
      }
    }
    p:last-child {
      font-size: 10px;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  main {
    margin-left: $nav-width;
    background-color: $red;

    color: white;
    box-sizing: border-box;
    .filter {
      position: sticky;
      top: 0;
      height: 100px;
      border-bottom: 1px solid $brown;
      div {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: $red;

        span {
          color: $brown;
          box-shadow: $underline;
          margin-bottom: 10px;
        }
      }
    }

    article {
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.1) 5%,
          transparent,
          transparent,
          transparent,
          transparent
        )
        $red;
      padding: 70px;
      header {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 30px;
        h1 {
          font-size: 40px;
          font-weight: 800;
        }
        span {
          text-align: right;
          font-size: 15px;
        }
      }
      .movie-preview {
        .movie-play {
          height: 300px;
          border: 1px solid black;
          margin-bottom: 40px;
        }
      }
      .footer {
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin: 15px 0;
        span:last-child {
          color: $brown;
          font-weight: 500;
          font-size: 15px;
        }
      }
      .comment {
        display: flex;
        justify-content: space-between;
        color: $brown;
        font-weight: 600;
        font-size: 15px;
        span:last-child {
          box-shadow: $underline;
        }
      }
    }
  }

  /* a {
    margin-bottom: 10px;
    &:nth-child(odd) {
      @include link(blue);
    }
    &:nth-child(even) {
      @include link(red);
    }
  } */
}
/* 
@media screen and (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
  }
  nav {
    position: static;
    width: 100%;
  }
  main {
    margin-left: 0;
  }
}
 */
